* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 2% 6%;
}

.special-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.special-paragraph {
  text-align: center;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

/* Start header */
.header {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav img {
  width: 150px;
}

.header nav .nav-list {
  flex: 1;
  text-align: right;
}

.header nav .nav-list ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.header nav .nav-list ul li a {
  color: #fff;
  font-size: 13px;
}

.header nav .nav-list ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.header nav .nav-list ul li:hover::after {
  width: 100%;
}

.header nav #menu-btn {
  display: none;
}

.header nav #menu-btn:hover {
  color: #f44336;
  transition: 0.5s;
}

.header .text {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .header nav .nav-list {
    position: absolute;
    padding: 2% 2%;
    top: 10%;
    left: 0;
    text-align: left;
    width: 95%;
    background-color: rgba(0, 0, 0, 30%);
    display: none;
    z-index: 5;
  }
  .header nav .nav-list ul li {
    display: block;
  }
  .header nav #menu-btn {
    display: block;
    color: white;
    font-size: 22px;
    cursor: pointer;
  }
  .header .text {
    font-size: 29px;
  }
}
/* End header */

/* Start courses */
.course {
  padding-top: 100px;
  width: 90%;
  margin: auto;
}

.course .row {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}

.course .row .box {
  text-align: center;
  background-color: #fff3f3;
  border-radius: 10px;
  padding: 10px;
}

.course .row .box h3 {
  font-weight: 600;
  margin: 10px 0;
}

.course .row .box p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  padding: 10px;
}

.course .row .box:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 20%);
  transition: 0.5s;
}
/* End courses */

/* Start facilities */
.facilities {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 90%;
  margin: auto;
}

.facilities .facilities-boxs {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}

.facilities .facilities-boxs .box img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.facilities .facilities-boxs .box h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.facilities .facilities-boxs .box p {
  line-height: 1.8;
  color: #777;
}
/* End facilities */

/* Start Footer */
.footer {
  text-align: center;
  padding: 30px 0;
}

.footer h3 {
  font-weight: 600;
}

.footer p {
  font-size: 14px;
  color: #777;
  line-height: 1.7;
  margin: 30px auto;
  width: 70%;
}

.footer .social-icons i {
  margin-left: 35px;
  color: #f44336;
  cursor: pointer;
}

.footer p:last-child span i {
  color: #f44336;
}

@media (max-width: 768px) {
  .footer p {
    font-size: 12px;
  }
}
/* End footer */
